<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2do Events</title>
    <link rel="stylesheet" href="styles.css">
    <!-- <link rel="stylesheet" href="styles.min.css"> -->
</head>
<body>
    <header>
        <h1>2do Events</h1></h>
        <nav>
            <ul>
                <li id="select-timezone"><a href="#">Time zone</a></li>
                <li id="select-category"><a href="#">Categories</a></li>
                <li id="select-tag"><a href="#">Tags</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="events-container"></div>
        <script src="script.js"></script>
        <!-- <script src="script.min.js"></script> -->
    </main>
    <footer>
        <p>
            2do Directory is a shared calendar for <a href=https://opensimulator.org/>OpenSimulator</a> hypergrid events,
            powered by
            <a href=https://github.com/GuduleLapointe/2do-aggregator>2do-aggregator</a>, 
            <a href="https://github.com/GuduleLapointe/2do-board">2do-board</a>,
            and <a href="https://github.com/GuduleLapointe/flexible_helper_scripts">Flexible Helper Scripts</a>.
            Sponsored by <a href="https://speculoos.world">Speculoos World</a> and <a href="https://w4os.org/">W4OS</a>.
        </p>
    </footer>
</body>
</html>